header.main-header
    .header-top
        .container
            .header-top__content
                .header-top__info
                    ul.header-top__phones
                        li
                            +icon('map', 'map')
                            span Or. Chisinau, str. Teatrala, 6
                        li
                            +icon('phone', 'phone')
                            a(href="tel:+37322229710") +373 (22) 229-710
                        li
                            +icon('cell-phone', 'cell-phone')
                            a(href="tel:+37322213256") +373 (22) 213-256
                    select
                        option(value="2") EUR
                        option(value="1" select="selected") USD
                .header-top__links
                    ul.header-top__socials
                        li
                            a(href="https://www.pinterest.com/president2439/")
                                +icon('pinterest', 'pinterest')

                        li
                            a(href="https://www.linkedin.com/in/benefisshopcom/")
                                +icon('linkedin', 'linkedin')

                        li
                            a(href="https://www.youtube.com/channel/UC47vmOtxy58USu7dXbvCGZQ")
                                +icon('youtube', 'youtube')

                        li
                            a(href="https://twitter.com/benefisshop")
                                +icon('twitter', 'twitter')

                        li
                            a(href="https://www.instagram.com/accounts/login/?next=/explore/locations/1030092475/benefis-ballet-costumes/")
                                +icon('instagram_oval', 'instagram_oval')

                        li
                            a(href="https://www.facebook.com/balletcostumesbenefis/")
                                +icon('facebook', 'facebook')

                    ul.languages
                        li
                            a(href="#")
                                img.flag(src="assets/i/languages/en.gif" alt="")
                                span EN
                        li
                            a(href="#")
                                img.flag(src="assets/i/languages/ro.gif" alt="")
                                span RO
                        li
                            a(href="#")
                                img.flag(src="assets/i/languages/ru.gif" alt="")
                                span RU
