header.archive__header
    h2.archive__title New arrivals

.products
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
    .product__item
        a(href="#").product__image
            img(src="assets/i/products/1.jpg" alt="")
        h4.product__title
            a(href="#") Professional basic tutu with hoops – T 0001
        .reviews__block
            .reviews__mark
                .stars_no_active
                    .starts__active
            .count-comment Comments (0)
        .product__footer
            .price-product
                span.title_price Child
                span $180 <br>
                span.block_max_price Adult $280
            .buttons
                a.button__detail(href="#")
                    +icon('information-symbol', 'information-symbol')
                    span Detail
