aside.sidebar
    ul.sidebar__list
        li
            a(href="#") Ready-made products
        li
            a(href="#") Basic and rehearsal tutus
        li
            a(href="#") New collection
        li
            a(href="#") Ballet costumes
            ul.sidebar__sublist
                li
                    a(href="") Swan Lake
                li
                    a(href="") Nutcracker
                li
                    a(href="") Don Quijote
                li
                    a(href="") Raymonda
                li
                    a(href="") Romeo and Juliet
        li
            a(href="#") Stage ballet costumes
        li
            a(href="#") Rehearsal dancewear
            ul.sidebar__sublist
                li
                    a(href="#") Leotards and t-shirts
                li
                    a(href="#") Unitards
                li
                    a(href="#") Tights and shorts
                li
                    a(href="#") Skirts
        li
            a(href="#") Carnival costumes
        li
            a(href="#") Shoes
        li
            a(href="#") National costumes
        li
            a(href="#") Accessories
            ul.sidebar__sublist
                li
                    a(href="#") Head pieces
                li
                    a(href="#") Gloves
                li
                    a(href="#") Wigs

        li
            a(href="#") Doll ballet costumes
